################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EducationalApi.App/obj
/EducationalApi.Application/obj
/EducationalApi.Dal/obj
/EducationalApi.Domain/obj
/EducationalApi.Infra/obj
/EducationalApi.Infra/bin/Debug/net7.0
/EducationalApi.App/bin/Debug/net7.0
/EducationalApi.Application/bin/Debug/net7.0
